<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: header" />
<body>
	<div class="pure-g">
		<div th:replace="layout :: sidebar"></div>
		<div class="content pure-u-1 pure-u-md-3-4">
			<div>
				<div class="posts">
					<h1 class="content-subhead">New User</h1>
					<form class="pure-form pure-form-aligned" method="post"
						action="/user" th:object="${newUser}" onsubmit="postForm()">
						<fieldset>
							<div class="pure-control-group">
								<label for="name">Name</label> <input id="name"
									class="pure-input-3-4" type="text" placeholder="Name"
									th:field="*{name}" />
							</div>
							<div class="pure-control-group">
								<label for="twitter">Twitter</label> <input id="twitter"
									class="pure-input-3-4" type="text" placeholder="Twitter"
									th:field="*{twitter}" />
							</div>
							<div class="pure-controls">
								<button type="submit" class="pure-button pure-button-primary">Submit</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>